<h2>Clientes</h2>

<a href="./clientes/novo" class="btn btn-primary">Novo</a>

<table class="table">
    <thead>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Data de Nascimento</th>
    </thead>
    <tbody>
        {{#each listaclientes}}
        <tr>
            <td>{{this.nome}}</td>
            <td>{{this.endereco}}</td>
            <td>{{this.telefone}}</td>
            <td>{{this.dataNasc}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>