<h2>Clientes</h2>

<table class="table">
    <thead>
        <th>Nome</th>
        <th>Endereço</th>
        <th>Telefone</th>
        <th>Data de Nascimento</th>
    </thead>
    <tbody>
        <tr>
            <td>sewsf</td>
            <td>asdfad</td>
            <td>asdkfj</td>
            <td>asdfasdf</td>
        </tr>
    </tbody>
</table>